body {
  overflow-x: hidden;
    font-family: 'Press Start 2P', sans-serif;
    background: black;
    color: gainsboro;
}

::-webkit-scrollbar {
  background-color:black;

}

::-webkit-scrollbar-corner {
  background-color:black;
}

a:-webkit-any-link{
  text-decoration:none !important;
  }

/* ----- NAV BAR ----- */

.navbar {
  background-color: black;
}

.navbar-toggler-icon{
  background-color: gainsboro;
}

.navbar-nav {
  /* margin-left: 60%; */
}

.Hangman {
  width: 80%;
  margin-top: 50px;
}

/* ----- FOOTER ----- */

footer{
  background-color: black;
  position: absolute;
  bottom: 0;
  width: 100%;   
}

.hereLink {
  color:gainsboro
}

.hereLink:hover {
  color:gainsboro
}

@media (max-height:808px) {
  footer{
    position: relative;
    bottom:0;
  }
}
